html {
    box-sizing: border-bo; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider {
    background-color: white;
    /* background-image: linear-gradient(white, white, lightgray); */
    height: 100px;
}
/* === === === HOME CONTAINER === === === */
.homeContainer{
    /* background-color: lightskyblue; */
    /* height: 610px; */
    height: 535px;
    display: flex;
    flex-direction: column;
}
.image {
    /* background-image: url(../images/airplane.jpg); */
    background-image: url(../images/airplane4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: white; 
    font-family: 'Pacifico', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Cabin Sketch', cursive; */
    /* font-family: 'Baloo Bhaina', cursive; */
    font-size: 50px;
    margin: 0 0 10px;
}
.form {
    color: white;
    /* font-weight: bold; */
    font-size: 15px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Mukta Malar', sans-serif;
}
.icon {
    /* outline: 1px solid lightskyblue; */
    display: flex;
    align-items: flex-end;
    height: 125px;
    margin-top: 50px;
}
i {
    outline: 1px solid red;
    justify-content: space-evenly;
    text-align: center;
    font-size: 60px;
    color: lightskyblue;
    width: 250px;
    /* height: 200px; */
    margin-top: 16px;
}
/* .button { */
    /* transition: transform 1s; */
    /* transform: translateY(-100%); */
/* } */
/* button.open-active {
    transform: translateY(0);
} */
/* === === === MAIN CONTAINER === === === */
.mainContainer {
    /* background-color: lightcyan; */
    height: 535px;
    max-width: 100%;
}
.imageTwo {
    background-image:  url(../images/airplane2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* === === === FLIGHT / WEATHER COLUMN === === === */
.mainColumn {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.infoContainer {
    /* background-color: lightgoldenrodyellow; */
    /* background-color: rgba(0,0,0, 0.4); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    /* flex: 1; */
    width: 52%;
}
.infoTitle {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Mukta Malar', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.weatherContainer { 
    /* background-color: lightcoral; */
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* flex: 1; */
    width: 45%;
}
.weatherTitle{
    padding: 15px;
    font-family: 'Mukta Malar', sans-serif;
    /* font-size: 26px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 5px; */
}
/* === === === INFO - COLUMN ONE/TWO === === === */
.infoColumn {
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* height: 367px; */
    height: 260px;
    padding-bottom: 18px;
    background-color: rgba(255, 255, 255, 0.8);
}
.columnOne {
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* padding: 15px; */
    flex: 1;
    margin: 0 2px 0 4px;
}
.columnTwo {
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* padding: 15px; */
    flex: 1;
    margin: 0 4px 0 2px;
} 
ul {
    list-style-type: none;
    padding: 0;
}
li {
    font-family: 'Mukta Malar', sans-serif;
    padding-bottom: 20px;
    /* letter-spacing: 3px; */
    /* word-spacing: 5px; */
}
/* === === === MAP CONTAINER === === === */
.mapContainer {
    background-color: lightgray;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 610px; */
    height: 535px;
}
.map {
    background-color: white;
    height: 450px; 
    width: 715px;
}
/* === === === ABOUT THE ONES WHO BUILT THIS THING === === === */
.aboutContainer {
    background-color: lightsalmon;
    /* height: 610px; */
    height: 535px;
}
