/*  === === === GLOBAL STYLING === === === */
html {
    box-sizing: border-bo; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider {
    background-color: white;
    /* background-image: linear-gradient(white, white, lightgray); */
    height: 150px;
    /* width: 900px; */
    /* background-color: lightcyan; */
    margin: 1px;
    postion: 

}
.planeAnime {
    height: 200px;
    background-color: rgb(168, 230, 255);
    position: relative;
    overflow: hidden;
}
.aircraft {
    position: absolute;
    transform: translate(50px, 100px) scale(0.5);
    animation-name: hover;    
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.cloud {
    position: absolute;
    /* top: -50px; */
    /* left: 0px; */
    /* animation-name: wind;     */
    /* animation-duration: 8s; */
    /* animation-fill-mode: both; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: reverse; */
}
.cloud:nth-child(1) {
    width: 100px;
    opacity: 0.4;
    top: 25px;
    animation: float 30s linear infinite reverse;
}
.cloud:nth-child(2) {
    width: 140px;
    top: -50px;
    animation: float 20s linear infinite reverse;
}
.cloud:nth-child(3) {
    width: 200px;
    top: 70px;
    animation: float 25s linear infinite reverse;
}
.cloud:nth-child(4) {
    width: 110px;
    top: 70px;
    animation: float 15s linear infinite reverse;
}
/* === === === KEYFRAMES === === === */
@keyframes float {
    0%{ transform: translateX(-125px)}
    100%{ transform: translateX(1100px)}
}
@keyframes hover {
    0%{top: 5px}
    100%{top: -100px}
}

/* === === === HOME CONTAINER === === === */
.homeContainer{
    /* background-color: lightskyblue; */
    /* height: 765px; */
    height: 100%;
    /* height: 665px; */
    display: flex;
    flex-direction: column;

    /* background-image: url(../images/airplane.jpg); */
    background-image: url(../images/airplane4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: white; 
    font-family: 'Pacifico', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Cabin Sketch', cursive; */
    /* font-family: 'Baloo Bhaina', cursive; */
    font-size: 80px;
    margin: 0 0 10px;
}
.form {
    color: white;
    /* font-weight: bold; */
    font-size: 15px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Mukta Malar', sans-serif;
}
.icon {
    /* outline: 1px solid lightskyblue; */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 50px;
    margin-top: 50px;
    width: 700px;
}
i {
    /* outline: 1px solid red; */
    display: flex;
    text-align: center;
    font-size: 50px;
    /* color: rgb(145, 211, 255); */
    color: white;
    width: 40px;
    position: relative;
    top: 50px;

}
/* === === === MAIN CONTAINER === === === */
.mainContainer {
    /* background-color: lightcyan; */
    /* height: 765px; */
    /* height: 665px; */
    height: 100%;
    background-image:  url(../images/airplane2.jpg);
    /* background-image:  url(../images/airplane.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
}
/* .home{
    align-items: flex-start;
    position: relative;
    bottom: 70px;

}
.top {
    outline: 1px solid red;
    width: 200px;
} */
/* === === === FLIGHT / WEATHER COLUMN === === === */
.mainColumn {
    display: flex;
    justify-content: space-between;
    height: 417px;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25%;
}
/* === === === INFO - COLUMN ONE/TWO === === === */
.infoContainer {
    /* background-color: lightgoldenrodyellow; */
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    /* flex: 1; */
    width: 52%;
    border-radius: 25px;
    box-shadow: 5px 5px 15px gray;
    /* box-shadow: 5px 5px 15px whitesmoke; */
}
.infoTitle {
    padding: 10px;
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0.8); */
    font-family: 'Mukta Malar', sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: black;
    /* text-shadow: 2px 2px 4px #000000; */
}
.infoColumn {
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* height: 367px; */
    height: 260px;
    padding-bottom: 18px;
    /* background-color: rgba(255, 255, 255, 0.8); */
}
.columnOne {
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* padding: 15px; */
    flex: 1;
    margin: 0 2px 0 4px;
}
.columnTwo {
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* padding: 15px; */
    flex: 1;
    margin: 0 4px 0 2px;
} 
ul {
    list-style-type: none;
    padding: 0;
}
li {
    font-family: 'Mukta Malar', sans-serif;
    padding-bottom: 20px;
    /* letter-spacing: 3px; */
    /* word-spacing: 5px; */
}
/* === === === WEATHER COLUMN === === === */
.weatherContainer { 
    /* background-color: lightcoral; */
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* flex: 1; */
    width: 45%;
    border-radius: 25px;
    box-shadow: 5px 5px 15px grey;
}
.weatherTitle{
    padding: 10px;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Mukta Malar', sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: black;
    /* text-shadow: 2px 2px 4px #000000; */
}
.weatherColumn {
    /* display: flex; */
    flex-direction: column;
    /* align-content: center; */
}
.cityDisplay {
    /* background-color: rgba(255, 255, 255, 0.3); */
    display: flex;
    font-size: 28px;
    margin: 0;
    position: relative;
    top: 10px;
    /* text-shadow: 2px 2px 4px #7ecdf1; */
}
.tempDisplay {
    height: 260px;
    display: flex;  
    justify-content: space-between;
    /* padding-top: 40px; */
    /* font-family: 'Baloo Bhaina', cursive; */
    font-family: 'Mukta Malar', sans-serif;
    /* color: skyblue; */
    position: relative;
    top: 70px;
}
.minWeather {
    /* background-color: rgba(255, 255, 255, 0.3); */
    flex: 1;
    height: 50px;
    /* padding: 0 10px; */
    justify-content: flex-start;
    margin: 0 10px;
    font-size: 22px;
}
.mainWeather {
    /* text-shadow: 2px 2px 4px #000000; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* justify-content: flex-end;  */
    height: 100px;
    width: 120px;
    flex: 2;
    /* font-size: 60px; */
    font-size: 45px;
}
.maxWeather {
    /* background-color: rgba(255, 255, 255, 0.3); */
    height: 50px;
    flex: 1;
    /* padding: 0 10px; */
    margin: 0 10px;
    font-size: 22px;
}
/* === === === MAP CONTAINER === === === */
.mapContainer {
    /* background-color: lightgray; */
    background-image: url(../images/clouds.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 665px; */
    /* height: 765px;  */
    height: 100%;
}
/* .homeMap {
    outline: 2px solid red;
    position: relative;
    bottom: 275px;
    right: 25px;
    max-width: 100%;
} */
/* .mapColumn {
    display: flex;
    justify-content: center;
    height: 317px;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25%;
} */

.map {
    /* background-color: rgba(179, 117, 117); */
    height: 450px; 
    width: 715px;
}
/* === === === ABOUT THE ONES WHO BUILT THIS STRESSFUL THING === === === */
/* .aboutContainer {
    background-color: white;
    height: 765px;
    height: 665px;
    height: 100%;

    background-image:  url(../images/airplane.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
/* .aboutColumn {
    background-color: whitesmoke;
    display: flex; 
    justify-content: space-around;
    height: 560px;
    width: 90%;
} */
/* .profile {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 540px;
    width: 380px;
    margin-top: 20px;
} */
/* 
.profileImg {
    background-color: white;
    outline: 2px solid black;
    background-color: rgba(255, 255, 255, 0.3);
    height: 300px;
    width: 300px;
    border-radius: 10%;
    position: relative;
    bottom: 15px;
} */
/* .profileInfo {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.3);
    outline: 2px solid black;
    height: 150px;
    width: 340px;
    padding: 2px;
    margin: 40px;
    border-radius: 5px;
    overflow: auto;
} */
/* === === === MEDIA QUERY === === === */
/* === === MOBILE-ISH === === */


/* === === iPAD-ISH === === */
@media screen and (max-width: 800px) and (min-width: 391px) { 
    .title {
        font-size: 70px;
    }
    .icon {
        width: 650px; 
        position: relative; 
        top: 40px;
    }
    i { 
        font-size: 40px;
    }
    .mainContainer {
        display: flex;
    }
    .mainColumn {
        flex-direction: row;
        justify-content: space-around;
        width: 780px;
        height: 370px;
    }
    .infoContainer {
        margin: 0;
        width: 330px;
        height: 340px;
    }
    .weatherContainer {
        margin: 0; 
        width: 330px;
        height: 340px;
    }
    .weatherTitle {
        font-size: 24px;
    }
    .cityDisplay { 
        position: relative; 
        bottom: 10px; 
        font-size: 28px;
    }
    .minWeather {
        position: relative;
        right: 10px;
        font-size: 26px; 
    }
    .mainWeather {
        top: 15px;
        font-size: 60px;
    }
    .maxWeather {
        position: relative;
        left: 5px;
        font-size: 26px; 
    }
    .map {
        width: 600px;
        height: 450px;
    }
    .aboutColumn {
        display: flex; 
        flex-direction: row;
        width: 750px;
    }
    .profileImg {
        height: 315px;
        width: 315px;
    }
    .profileInfo {
        position: relative;
        top: 25px;
    }
}

@media screen and (max-width: 390px) {
    .title {
        font-size: 45px;
    }
    .icon {
        width: 290px;
        position: relative; 
        top: 100px;
    }
    i {
        font-size: 30px;
    }

    .mainContainer {
        display: flex;
    }
    .mainColumn {
        flex-direction: column;
        height: 600px;
        width: 330px;
    }
    .infoContainer {
        width: 310px;
        margin: 0 0 15px;
    }
    .weatherContainer {
        width: 310px; 
        margin: 5px 0 0;
    }
    .weatherTitle {
        font-size: 22px;
    }
    .cityDisplay {
        font-size: 26px;
        position: relative;
        top: 10px;
    }
    /* .tempDisplay {
        padding: 20px 0;
        height: 150px;
    } */
    /* .minWeather {
        position: relative;
        font-size: 28px;
        top: 60px;
        right: 10px;
    } */
    /* .mainWeather {
        position: relative; 
        bottom: 20px;;
        font-size: 50px;
    } */
    /* .maxWeather {
        position: relative;
        font-size: 28px; 
        top: 60px;
        left: 10px;
    } */

    .map {
        display: flex;
        width: 350px;
        height: 340px;
    }

    .aboutColumn {
        display: flex; 
        flex-direction: column;
        height: 610px; 
        width: 340px;
    }
    .profile {
        height: 390px;
        width: 340px; 
    }
    .profileImg {
        height: 300px;
        width: 270px; 
    }
    .profileInfo {
        height: 90px;
        /* position: relative;
        bottom: 25px; */
    }
}


