html {
    box-sizing: border-bo; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* === === === HERO CONTAINER === === === */
.heroContainer{
    /* display: flex; */
    /* background-color: lightskyblue; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 610px;
    /* width: 1300px; */
}
.image {
    /* background-image: url(../images/airplane.jpg); */
    background-image: url(../images/airplane4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* position: relative; */
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: white; 
    font-family: 'Pacifico', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Cabin Sketch', cursive; */
    /* font-family: 'Baloo Bhaina', cursive; */
    font-size: 50px;
    margin: 0 0 10px;
}
.form {
    color: white;
    /* font-weight: bold; */
    font-size: 15px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Mukta Malar', sans-serif;
}

/* === === === MAIN CONTAINER === === === */
.mainContainer {
    /* background-color: lightcyan; */
    /* display: flex;  */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    height: 610px;
    max-width: 100%;
}
.imageTwo {
    background-image:  url(../images/airplane2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* === === === FLIGHT / WEATHER COLUMN === === === */
.mainColumn {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.infoContainer {
    /* outline: 1px solid red;   */
    /* background-color: lightgoldenrodyellow; */
    /* background-color: rgba(0,0,0, 0.4); */
    justify-content: center;
    align-content: center;
    text-align: center;
    /* flex: 1; */
    width: 45%;
}
.infoTitle {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
.weatherContainer {
    /* outline: 1px solid red; */
    /* background-color: lightcoral; */
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* flex: 1; */
    width: 45%;
}
.weatherTitle{
    padding: 5px;
}
/* === === === INFO - COLUMN ONE/TWO === === === */
.infoColumn {
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    height: 367px;
    padding-bottom: 18px;
    background-color: rgba(255, 255, 255, 0.8);
}
.columnOne {
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0); */
    padding: 15px;
    /* flex: 1; */
    margin: 0 2px 0 4px;
}
/* .columnTwo { */
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0); */
    /* padding: 15px; */
    /* flex: 1; */
    /* margin: 0 4px 0 2px; */
/* }  */
/* === === === MAP CONTAINER === === === */
.mapContainer {
    background-color: lightgray;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 610px;
}
.map {
    background-color: white;
    height: 450px; 
    width: 715px;
}

